body{
  margin: 0;
  background-color: #ED8599;
  color: white;
}

.container{
  position: relative;
  display: block;
  text-align: center;
}

#search{
  float: right;
  padding: 10px 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

li {
  display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a:hover {
    background-color: #FFF;
    color: #ED8599;
}

a {
  color: white;
}

a:visited{
  color: white;
}

img#wowpic {
  width: 640px;
  height: 400px;
}
