body{
  margin: 0;
}
.container{
  position: relative;
  display: block;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ED8599;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}
#search{
  float: right;
  padding: 10px 12px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
