<h1>
  {{page}}
</h1>

<p>
  If you haven't guessed, I like Pokemon.<br>
  This page is still in progress, but here are some helpful Pokemon-related links:
  <ul>
    <li><a href="https://www.youtube.com/slowbro202" target="_blank">My YouTube Channel</a></li>
    <li><a href="https://www.reddit.com/r/pokemon" target="_blank">/r/pokemon</a></li>
    <li><a href="http://www.smogon.com/" target="_blank">Smogon</a></li>
    <li><a href="http://www.serebii.net/" target="_blank">Serebii</a></li>
  </ul>
</p>

<a href="https://www.reddit.com/r/pokemon/comments/4yqf7q/no_time_to_explain_lets_dance/" target="_blank">
  <video src="images/dragondance.mp4" autoplay loop></video>
</a>
