<h1>
  {{page}}
</h1>

<p>
  I also play quite a bit of World of Warcraft.<br>
  My main interest in WoW is gold making, and this page will reflect that when it's complete.<br>
  For now, here are some helpful WoW related links:
  <ul>
    <li><a href="https://www.reddit.com/r/wow" target="_blank">/r/wow</a></li>
    <li><a href="https://www.reddit.com/r/woweconomy" target="_blank">/r/woweconomy</a></li>
    <li><a href="https://www.youtube.com/channel/UCaykbCbJyZPwMohLQaVoFcA" target="_blank">Old Bess</a></li>
    <li><a href="https://theunderminejournal.com/" target="_blank">TUJ</a></li>
  </ul>
</p>
<img id="wowpic" src="images/wow.png" alt="" />
